<div id="main-container">
  <div id="main-card">
    <img id="main-logo" src="assets/img/logo.png">
    <h1>Loadout randomizer</h1>
    <button (click)="randomize()" id="btn-randomize">Randomize</button>

    <div id="loadout-container">
      <div class="main-column-container">
        <div *ngFor="let weapon of randomWeapons" class="column" [tooltip]="weapon.name">
          <div class="item-container">
            <img *ngIf="weapon.slots === 3" src="assets/img/backdrops/3-slot.png">
            <img *ngIf="weapon.slots === 2" src="assets/img/backdrops/2-slot.png">
            <img *ngIf="weapon.slots === 1" src="assets/img/backdrops/1-slot.png">
            <span class="price-tag">${{weapon.price}}</span>
          </div>
          <span *ngIf="weapon.slots === 3">Large slot</span>
          <span *ngIf="weapon.slots === 2">Medium slot</span>
          <span *ngIf="weapon.slots === 1">Small slot</span>
        </div>
      </div>
      <div class="main-column-container" *ngIf="randomTools.length">
        <div class="row">
          <div *ngFor="let tool of randomTools" class="column" [tooltip]="tool.name">
            <div class="item-container">
              <img src="assets/img/backdrops/item.png">
              <span class="price-tag">${{tool.price}}</span>
            </div>
          </div>
        </div>
        <span>Tools</span>
        <div class="row">
          <div *ngFor="let consumable of randomConsumables" class="column" [tooltip]="consumable.name">
            <div class="item-container">
              <img src="assets/img/backdrops/item.png">
              <span class="price-tag">${{consumable.price}}</span>
            </div>
          </div>
        </div>
        <span>Consumables</span>
      </div>
    </div>
  </div>
</div>
