#main-container {
  width: 100vw;
  height: 100vh;
  background: url("/assets/img/bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;

  #main-card {
    align-self: center;
    padding-top: 35px;
    justify-content: space-between;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    max-width: 1400px;
    min-width: min(1250px, 100%);
    display: flex;
    flex-direction: column;

    #main-logo,
    h1 {
      align-self: center;
    }

    #main-logo {
      max-height: 25%;
    }

    #btn-randomize {
      align-self: center;
    }

    #loadout-container {
      margin-top: 50px;
      display: flex;
      overflow: auto;
      gap: 20px;

      #weapons-container,
      #items-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        span {
          margin-top: -5px;
          margin-bottom: 15px;
        }
      }

      #weapons-container {
        .weapon-container {
          display: flex;
          flex-direction: column;
          .weapon-img-container {
            height: 166px;
            position: relative;
            width: fit-content;
            .price-tag {
              position: absolute;
              right: 10px;
              bottom: 0;
              margin: 0;
            }
          }
        }
      }

      #items-container {
        #tools-container,
        #consumables-container {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
}
