<div id="main-container">
  <div id="main-card">
    <img id="main-logo"
         src="assets/img/logo.png">
    <div id="randomize-button">
      <button class="unstyled"
              (click)="randomize()">
        Randomize
      </button>
      <button class="unstyled"
              (click)="showSetttings()">
        <img src="assets/img/icons/gear.svg">
      </button>
    </div>
    <app-loadout [randomConsumables]="randomConsumables"
                 [randomCustomAmmo]="randomCustomAmmo"
                 [randomTools]="randomTools"
                 [randomWeapons]="randomWeapons">

    </app-loadout>
    <div id="main-price">
      <span id="main-price-span"
            class="tooltip visible">
        Total: ${{totalPrice}}
      </span>
    </div>
  </div>
</div>

<app-settings *ngIf="showSettings"
              [settings]="settings"
              (closed)="showSettings = false"
              (newSettings)="saveSettings($event)">
</app-settings>

<div id="image-preload-container">
  <img src="assets/img/backdrops/3-slot.png">
  <img src="assets/img/backdrops/2-slot.png">
  <img src="assets/img/backdrops/1-slot.png">
  <img src="assets/img/backdrops/text-bg1.png">
  <img src="assets/img/backdrops/text-bg2.png">
  <img src="assets/img/backdrops/text-bg3.png">
  <img src="assets/img/backdrops/ammo.png">
  <img src="assets/img/checkbox/box.png">
  <img src="assets/img/checkbox/check.png">
  <img src="assets/img/loading.gif">
  <img *ngFor="let i of preloadData"
       [src]="i.path"
       (load)="i.loaded()">
</div>
