#main-container {
  width: 100vw;
  height: 100vh;
  background: url("/assets/img/bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;

  #main-card {
    align-self: center;
    padding-top: 35px;
    justify-content: space-between;
    box-sizing: border-box;
    width: 80%;
    @media only screen and (max-width: 1650px) {
      width: 95%;
    }
    height: 100%;
    max-width: 1400px;
    min-width: min(1250px, 100%);
    display: flex;
    flex-direction: column;

    #main-logo,
    h1 {
      align-self: center;
    }

    #main-logo {
      max-height: 25%;
    }

    #randomize-button {
      border-radius: 10px;
      overflow: hidden;
      width: fit-content;
      align-self: center;
      display: flex;
      button {
        background-color: rgb(127, 27, 29);
        border: none;
        outline: none;
        font-size: 48px;
        margin: 0;
        &.r {
          padding: 0 28px 0 15px;
        }
        &.l {
          padding: 0 15px 0 28px;
        }
        cursor: pointer;
        transition: background-color linear 100ms;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: rgb(97, 21, 22);
        }
        &:active {
          background-color: rgb(66, 14, 15);
        }
        img {
          height: 64px;
        }
      }
    }
  }
}

#image-preload-container {
  position: absolute;
  top: -9999999px;
  left: -9999999px;
}
