<div id="main-container">
  <div id="main-card">
    <img id="main-logo"
         src="assets/img/logo.png">
    <h1>Loadout randomizer</h1>
    <button (click)="randomize()"
            id="btn-randomize">Randomize</button>
    <app-loadout [randomConsumables]="randomConsumables"
                 [randomCustomAmmo]="randomCustomAmmo"
                 [randomTools]="randomTools"
                 [randomWeapons]="randomWeapons">

    </app-loadout>

    <div id="settings-area">
      <hunt-ckeck name="quartermaster"
                  text="Quartermaster"
                  [(ngModel)]="quarterMaster"></hunt-ckeck>
    </div>
  </div>
</div>


<div id="image-preload-container">
  <img src="assets/img/backdrops/3-slot.png">
  <img src="assets/img/backdrops/2-slot.png">
  <img src="assets/img/backdrops/1-slot.png">
  <img src="assets/img/backdrops/text-bg1.png">
  <img src="assets/img/backdrops/text-bg2.png">
  <img src="assets/img/backdrops/text-bg3.png">
  <img *ngFor="let i of preloadImageLinks"
       [src]="i">
</div>
