<input type="checkbox"
       [checked]="isChecked"
       (change)="onChanged($event)"
       (blur)="onBlur($event)"
       [disabled]="disabled"
       [name]="name">



<div class="checkbox-container"
     (click)="fakeClick()">
       <img draggable="false"
            src="assets/img/checkbox/box.png">
       <img draggable="false"
            *ngIf="isChecked"
            src="assets/img/checkbox/check.png">
</div>

<label class="cb-container"
       [for]="name">
       {{text}}
</label>
