html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Inknut Antiqua", serif;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button:not(.unstyled) {
  background-color: rgb(127, 27, 29);
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 32px;
  margin: 0;
  padding: 0 32px;
  cursor: pointer;
  transition: background-color linear 100ms;
  &:hover {
    background-color: rgb(97, 21, 22);
  }
  &:active {
    background-color: rgb(66, 14, 15);
  }
}

$fontSize: 20px;
$padding: 2px;

.tooltip {
  background: url("assets/img/backdrops/text-bg2.png");
  background-clip: border-box;
  background-size: contain;
  background-repeat: round;
  position: absolute;
  opacity: 0;
  transition: opacity 250ms;
  padding: $padding 0;
  font-size: $fontSize;
  &.visible {
    opacity: 1;
  }
  &::before,
  &::after {
    content: " ";
    background-size: cover;
    position: absolute;
    top: 0;
    width: calc(#{$fontSize} * 2.6 + 2 * #{$padding});
    height: calc(#{$fontSize} * 2.6 + 2 * #{$padding});
  }
  &::before {
    background-image: url("assets/img/backdrops/text-bg1.png");
    left: calc(-2.6 * #{$fontSize} - 2 * #{$padding});
  }
  &::after {
    background-image: url("assets/img/backdrops/text-bg3.png");
    right: calc(- 2.6 * #{$fontSize} - 2 * #{$padding});
  }
}
