<div id="loadout-container">
  <div class="main-column-container">
    <div *ngFor="let weapon of randomWeapons; let i = index"
         class="column">
      <div class="item-container">
        <div class="item-ammo-container">
          <awd-box [itemType]="weapon.itemType"
                   [imgPath]="weapon.imagePath"
                   [tooltip]="weapon.name"
                   [price]="weapon.price"
                   [lockCallback]="weapon.lock.bind(weapon)"
                   [locked]="weapon.locked"
                   [itemName]="weapon.name"></awd-box>
          <ng-container *ngFor="let ammo of randomCustomAmmo[i]">
            <awd-box *ngIf="ammo"
                     [itemType]="ItemType.AMMO"
                     [imgPath]="ammo.imagePath"
                     [tooltip]="ammo.name"
                     [price]="ammo.price"
                     [itemName]="ammo.name"></awd-box>
          </ng-container>
        </div>
      </div>
      <span *ngIf="weapon.slots === 3">Large slot</span>
      <span *ngIf="weapon.slots === 2">Medium slot</span>
      <span *ngIf="weapon.slots === 1">Small slot</span>
    </div>
  </div>
  <div class="main-column-container"
       *ngIf="randomTools.length">
    <div class="row">
      <div *ngFor="let tool of randomTools"
           class="column">
        <awd-box [imgPath]="tool.imagePath"
                 [itemType]="ItemType.ITEM"
                 [tooltip]="tool.name"
                 [price]="tool.price"
                 [lockCallback]="tool.lock.bind(tool)"
                 [locked]="tool.locked"
                 [itemName]="tool.name">
        </awd-box>
      </div>
    </div>
    <span>Tools</span>
    <div class="row">
      <div *ngFor="let consumable of randomConsumables"
           class="column">
        <awd-box [imgPath]="consumable.imagePath"
                 [itemType]="ItemType.ITEM"
                 [tooltip]="consumable.name"
                 [price]="consumable.price"
                 [lockCallback]="consumable.lock.bind(consumable)"
                 [locked]="consumable.locked"
                 [itemName]="consumable.name">
        </awd-box>
      </div>
    </div>
    <span>Consumables</span>
  </div>
</div>
