<div id="settings-bg">
  <div id="settings-container"
       *ngIf="settings">
    <div id="settings-area">

      <div class="settings-column">
        <awd-hunt-check name="includeCustomAmmo"
                        text="Include Custom Ammo"
                        [(ngModel)]="settings.includeCustomAmmo"></awd-hunt-check>
        <awd-hunt-check name="knifeandheal"
                        text="Force Knife and Heal"
                        [(ngModel)]="settings.knifeAndHeal"></awd-hunt-check>
        <awd-hunt-check name="quartermaster"
                        text="Quartermaster"
                        [(ngModel)]="settings.quarterMaster"></awd-hunt-check>
      </div>
      <div class="settings-column">
      </div>
      <div class="settings-column">
      </div>
    </div>
    <div id="settings-actions">
      <button (click)="discard()">Discard</button>
      <button (click)="save()">Save</button>
    </div>
  </div>
</div>
